{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>{% block title %}Hangarin{% endblock %}</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<link rel="stylesheet" href="{% static 'css/ready.css' %}">
	<link rel="stylesheet" href="{% static 'css/demo.css' %}">
	{% progressive_web_app_meta %}
</head>
<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="{% url 'home' %}" class="logo">
					Hangarin
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">
					<form class="navbar-left navbar-form nav-search mr-md-3" action="">
						<div class="input-group">
							<input type="text" placeholder="Search ..." class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-search search-icon"></i>
								</span>
							</div>
						</div>
					</form>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item dropdown">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
								<img src="{% static 'img/profile.jpg' %}" alt="user-img" width="36" class="img-circle">
								<span>{{ request.user.username }}</span>
							</a>
							<ul class="dropdown-menu dropdown-user">
								<li>
									<div class="user-box">
										<div class="u-img"><img src="{% static 'img/profile.jpg' %}" alt="user"></div>
										<div class="u-text">
											<h4>{{ request.user.username }}</h4>
											<p class="text-muted">Task Manager</p>
										</div>
									</div>
								</li>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i> Logout</a>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>

		<div class="sidebar">
			<div class="scrollbar-inner sidebar-wrapper">
				<div class="user">
					<div class="photo">
						<img src="{% static 'img/profile.jpg' %}">
					</div>
					<div class="info">
						<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
							<span>
								{{ request.user.username }}
								<span class="user-level">Task Manager</span>
								<span class="caret"></span>
							</span>
						</a>
						<div class="clearfix"></div>
					</div>
				</div>
				<ul class="nav">
					<li class="nav-item {% block nav_home %}{% endblock %}">
						<a href="{% url 'home' %}">
							<i class="la la-dashboard"></i>
							<p>Dashboard</p>
						</a>
					</li>
					<li class="nav-item {% block nav_task %}{% endblock %}">
						<a href="{% url 'task-list' %}">
							<i class="la la-check-square-o"></i>
							<p>Tasks</p>
						</a>
					</li>
					<li class="nav-item {% block nav_category %}{% endblock %}">
						<a href="{% url 'category-list' %}">
							<i class="la la-tag"></i>
							<p>Categories</p>
						</a>
					</li>
					<li class="nav-item {% block nav_priority %}{% endblock %}">
						<a href="{% url 'priority-list' %}">
							<i class="la la-flag"></i>
							<p>Priorities</p>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="main-panel">
			{% block content %}
			{% endblock %}
			<footer class="footer">
				<div class="container-fluid">
					<div class="copyright ml-auto">
						2025, Hangarin &mdash; Task &amp; To-Do Manager
					</div>
				</div>
			</footer>
		</div>
	</div>

<script src="{% static 'js/core/jquery.3.2.1.min.js' %}"></script>
<script src="{% static 'js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/core/popper.min.js' %}"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
<script src="{% static 'js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'js/ready.min.js' %}"></script>
</body>
</html>
