{% extends 'base.html' %}
{% load static %}
{% block title %}Hangarin - Categories{% endblock %}
{% block nav_category %}active{% endblock %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">Categories</h4>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">List of Categories</div>
            <div class="card-category">Manage task categories</div>
          </div>
          <br />
          <div class="col-md-12 row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <div class="pull-right">
                <a href="{% url 'category-add' %}" class="btn btn-success btn-rounded">Add Category</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-striped mt-3">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for category in object_list %}
                <tr>
                  <td>{{ category.name }}</td>
                  <td>
                    <a href="{% url 'category-update' category.pk %}">Edit</a>
                    <a href="{% url 'category-delete' category.pk %}" class="text-danger">Delete</a>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="2" style="text-align: center">
                    <p class="text-sm font-weight-bold mb-0">No Records Found</p>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% include 'includes/pagination.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
