{% extends 'base.html' %}
{% load static %}
{% block title %}Hangarin - Add Note{% endblock %}
{% block nav_task %}active{% endblock %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">Add Note</h4>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <div class="card-title">Add Note</div>
            <div class="card-category">For task: {{ task.title }}</div>
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <form action="" method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <div class="form-group">
                  <div class="col-md-12 col-sm-3">
                    <button type="submit" class="btn btn-primary btn-rounded">Submit</button>
                    <a href="{% url 'task-detail' task.pk %}" class="btn btn-secondary btn-rounded">Cancel</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
